.AboutUs {
    margin: 3rem;
    padding: 1rem;

}

.AboutUs h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}

.AboutUs p {
    font-size: 19px;
    text-align: center;
    display: block;
    margin: auto;
    max-width: 900px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding: 10px;

}
.overView-Heading{
    text-align: center;
        font-family: 'Poppins', sans-serif;

}
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 2.5rem 0rem;
}

.card {
     width: 400px;
    height: 300px;
    overflow: hidden;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    /* Optional for full card uniformity */

}

.card img {
  
    /* object-fit: cover; */
    width: 100%;
    height: 80%;
    /* object-fit: cover; */
    transition: .5s all ease;

    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;

}
.card:hover img{
    transform: scale(1.08);
}

.card h3 {
  font-size: 18px;
}
